<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-handlefile" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HandleFile</name>
    <js-module name="HandleFile" src="www/HandleFile.js">
        <clobbers target="HandleFile"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="HandleFile">
                <param name="ios-package" value="HandleFile" onload="true"/>
            </feature>
        </config-file>
        <header-file src="src/ios/HandleFile.h"/>
        <header-file src="src/ios/AppDelegate+HandleFile.h"/>
        <source-file src="src/ios/HandleFile.m"/>
        <source-file src="src/ios/AppDelegate+HandleFile.m"/>
    </platform>
</plugin>
